h1 Add New User
form(action="/user/add", method="post")
    label Username   
    input(type="text", name="newName", placeholder="New User Name...")
    br
    br
    label Email                     
    input(type="text", name="newEmail", placeholder="New Email...")
    br
    br
    label Phone   
    input(type="text", name="newPhone", placeholder="New Phone Number...")
    br
    br
    button Add
    
    