h1 List User
form(action="/user/search", method="get")
    label Search   
    input(type="text", name="s", placeholder="Search...", value=searchKey : "")
    button Search
table 
    tr
        th Name
        th Function
    each user in listUser
        tr
            td= user.name
            td
                a(href="/user/detail/" + user.id) Details
br
a(href="/user/add") Add New User!