extends ./layouts/master.layout.pug
block content
    h1 15-Authentication
    if errorMessage
        div(class="alert alert-danger", role="alert")=errorMessage
    form(action="/login", method="post", class="form-inline")
        input(type="text", name="email", class="form-control", placeholder="Enter Email...")
        input(type="password", name="phone", class="form-control", placeholder="Enter Phone Number...")
        button(class="btn btn-success") Login