extends ./layouts/master.layout.pug
block content
    h1 16 - MD5
    if errorMessage
        div(class="alert alert-danger", role="alert")=errorMessage
    form(action="/login", method="post", class="form-inline")
        input(type="text", name="email", class="form-control", placeholder="Enter Email...")
        input(type="password", name="password", class="form-control", placeholder="Enter Password...")
        button(class="btn btn-success") Login