h1 List User
form(action="/search", method="get")
    input(type="text", name="s", placeholder="Search...", value=searchKey : "")
    button(type="submit") Search
table
    tr
        th Name
        th Email
    each user in listUser
        tr
            td= user.name
            td= user.email
br
a(href="/add-user") Add New User