extends ../layouts/master.layout.pug
block content
    div(class="container")
        h1 Add New User
        if errors
            each err in errors
                div(class="alert alert-danger", role='alert')= err
        form(action="/user/add", method="post")
            div(class="row")
                div(class="col-md-6 form-group")
                    input(type="text", name="newName", class="form-control", placeholder="Enter Username...")
                div(class="col-md-6 form-group")
                    input(type="password", name="newPassword", class="form-control", placeholder="Enter Password...")
            div(class="row")
                div(class="col-md-6 form-group")
                    input(type="text", name="newEmail", class="form-control", placeholder="Enter Email...")
                div(class="col-md-6 form-group")
                    input(type="text", name="newPhone", class="form-control", placeholder="Enter Phone Number...")
            button(class="btn btn-primary") Add New User!
    