h1 Add New User
form(action="/add-user", method="post")
    label Name  
    input(type="text", name="newName", placeholder="Enter New Name")
    br
    br
    label Email  
    input(type="text", name="newEmail", placeholder="Enter New Email")
    br
    br
    label Phone  
    input(type="text", name="newPhone", placeholder="Enter New Phone")
    br
    br
    button Add