h1= title
if errorMessage
    label= errorMessage
    br
    br
form(action="/login", method="post")
    label Username 
    input(type="text", name="username", placeholder="Username...")
    br
    br
    label Password 
    input(type="password", name="password", placeholder="Password...")
    br
    br
    button Login