extends ../layouts/master.layout.pug
block content
    h1 List User
    form(action="/user/search", method="get", class="form-inline")
        input(type="text", name="s", placeholder="Search...", class="form-control", value= searchKey ? searchKey : "")
        button(class="btn btn-success") Search
        a(href="/user/add", class="btn btn-primary ml-auto") Add New User!
    table(class="table table-striped table-bordered") 
        thead(class="thead-dark")
            th Name
            th Function
        each user in listUser
            tr
                td= user.name
                td
                    a(href="/user/detail/" + user.id) Details
                    a(class="ml-5", href="/user/delete/" + user.id) Delete
